aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1727779797566/work
aiohttp @ file:///D:/bld/aiohttp_1732220288579/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
apptools @ file:///home/conda/feedstock_root/build_artifacts/apptools_1610582543268/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1722977137225/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cffi==1.17.1
cftime @ file:///D:/bld/cftime_1725400656726/work
clr-loader==0.2.6
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
configobj @ file:///home/conda/feedstock_root/build_artifacts/configobj_1727014248968/work
contourpy @ file:///D:/bld/contourpy_1731428338786/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
envisage @ file:///home/conda/feedstock_root/build_artifacts/envisage_1732531805294/work
fonttools @ file:///D:/bld/fonttools_1731643415303/work
frozenlist @ file:///D:/bld/frozenlist_1729699471662/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1726459485162/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1726082825846/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1725921340658/work
iniconfig==2.0.0
kiwisolver @ file:///D:/bld/kiwisolver_1725459295513/work
loguru @ file:///D:/bld/loguru_1725349786690/work
matplotlib==3.9.1
mayavi @ file:///D:/bld/mayavi_1726770172176/work
mplcursors @ file:///home/conda/feedstock_root/build_artifacts/mplcursors_1730321206108/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
msgpack @ file:///D:/bld/msgpack-python_1725975250448/work
multidict @ file:///D:/bld/multidict_1729065636540/work
munkres==1.1.4
netCDF4 @ file:///D:/bld/netcdf4_1729662335100/work
numpy @ file:///D:/bld/numpy_1730588036902/work/dist/numpy-2.1.3-cp311-cp311-win_amd64.whl#sha256=102c9d16b55bb9d4d150a9fc7d35c3c22b00774791127daaf0d375a7ca3464be
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1731802491770/work
pandas @ file:///D:/bld/pandas_1726878554493/work
pillow @ file:///D:/bld/pillow_1726075236112/work
pluggy==1.5.0
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1712242996588/work
propcache @ file:///D:/bld/propcache_1728545851748/work
-e git+https://github.com/DLR-AE/pyBladed.git@6be43cc9c7de0aec5a91bcc82090a06583cdeb51#egg=pyBladed
pycparser==2.22
pyface @ file:///home/conda/feedstock_root/build_artifacts/pyface_1720292768523/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1728880423364/work
PyQt5==5.15.9
PyQt5-sip @ file:///D:/bld/pyqt-split_1695417970429/work/pyqt_sip
pytest==8.3.3
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1731919281354/work
pythonnet==3.0.4
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
QtAwesome @ file:///home/conda/feedstock_root/build_artifacts/qtawesome_1711652164228/work
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1730763764885/work
scipy @ file:///C:/bld/scipy-split_1729480803190/work/dist/scipy-1.14.1-cp311-cp311-win_amd64.whl#sha256=876bb04b690bc075c6fa8736ed166f36f26dc912c7ea970530659afc09cd6dd1
sip @ file:///D:/bld/sip_1697300573532/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1728484454203/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1731426768275/work
tornado @ file:///D:/bld/tornado_1732615900055/work
traits @ file:///D:/bld/traits_1696876090225/work
traitsui @ file:///home/conda/feedstock_root/build_artifacts/traitsui_1684774008390/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1727140567071/work
unicodedata2 @ file:///D:/bld/unicodedata2_1729704572577/work
vtk==9.3.1
win32-setctime @ file:///home/conda/feedstock_root/build_artifacts/win32_setctime_1642883564726/work
wslink @ file:///home/conda/feedstock_root/build_artifacts/wslink_1726544007929/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1732532866542/work
yarl @ file:///D:/bld/yarl_1732220877922/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1731262100163/work
